<div class="container">
    <div class="hero-unit">
        <h1>抽象数据类型</h1>
        <p>数据结构可以通过组合建立层次结构。原子数据类型，例如int、char、double和枚举类型在层次结构的最底层。为了表示更加复杂的信息，可以通过数组、记录和指针三种基本的构建方法将这些原子类型组合成较大的结构。这些较大的结构可以组合成更大的结构，这是一个无穷的过程。</p>
        <p>如果某一个类型的定义更注重它的<em>行为</em>而非<em>表示</em>，按照它的行为而非它的表示方式定义的类型就称为<strong>抽象数据类型</strong>，缩写为<strong>ADT</strong>。</p>
    </div>
    {% include beginning/abstraction/adt/stack.html %}
    {% include beginning/abstraction/adt/editor.html %}
    {% include beginning/abstraction/adt/queue.html %}
</div>
