<div class="container">
    <div class="hero-unit">
        <h1>递归</h1>
        <p><strong>递归</strong>是指将一个很大的问题转化成<em>同样形式</em>但小一些的问题加以解决。“同样形式”是这个定义的关键，如果没有这个定语，这个定义就和<em>逐步精化</em>一样了。递归的特别之处在于递归分解中的子问题和原有问题有相同的形式。</p>
    </div>
    {% include beginning/abstraction/recursion/fact.html %}
    {% include beginning/abstraction/recursion/fib.html %}
    {% include beginning/abstraction/recursion/palindrome.html %}
    {% include beginning/abstraction/recursion/binary.html %}
    {% include beginning/abstraction/recursion/even.html %}
    {% include beginning/abstraction/recursion/hanoi.html %}
    {% include beginning/abstraction/recursion/permutation.html %}
</div>
