<div class="container">
    <div class="hero-unit">
        <h1>集合</h1>
        <p>可以将<strong>集合</strong>看成是一个对不同元素的无序收集。</p>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <caption>集合恒等式基础</caption>
            <thead>
                <th>恒等式</th>
                <th>解释</th>
                <th>恒等式</th>
                <th>解释</th>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                <tr>
                    <td>
                        <ul class="unstyled">
                            <li>S U S &equiv; S</li>
                            <li>S &cap; S &equiv; S</li>
                        </ul>
                    </td>
                    <td>幂等式</td>
                    <td>
                        <ul class="unstyled">
                            <li>A U (B U C) &equiv; (A U B) U C</li>
                            <li>A &cap; (B &cap; C) &equiv; (A &cap; B) &cap; C</li>
                        </ul>
                    </td>
                    <td>结合律</td>
                </tr>
                <tr>
                    <td>
                        <ul class="unstyled">
                            <li>A U (A &cap; B) &equiv; A</li>
                            <li>A &cap; (A U B) &equiv; A</li>
                        </ul>
                    </td>
                    <td>合并</td>
                    <td>
                        <ul class="unstyled">
                            <li>A U (B &cap; C) &equiv; (A U B) &cap; (A U C)</li>
                            <li>A &cap; (B U C) &equiv; (A &cap; B) U (A &cap; C)</li>
                        </ul>
                    </td>
                    <td>分配律</td>
                </tr>
                <tr>
                    <td>
                        <ul class="unstyled">
                            <li>A U B &equiv; B U A</li>
                            <li>A &cap; B &equiv; B &cap; A</li>
                        </ul>
                    </td>
                    <td>交换律</td>
                    <td>
                        <ul class="unstyled">
                            <li>A - (B U C) &equiv; (A - B) &cap; (A - C)</li>
                            <li>A - (B &cap; C) &equiv; (A - B) U (A - C)</li>
                        </ul>
                    </td>
                    <td>摩根律</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
