<div class="container">
	<div class="hero-unit">
		<h1>树</h1>
        <p><strong>树</strong>是由一个具有以下特征的称为<em>节点</em>（node）的集合所定义的：</p>
        <ol>
            <li>只要树中有节点，必定有一个称为<em>根</em>（root）的节点，它是最顶层；</li>
            <li>其他节点通过唯一确定的下降路径连接到根。</li>
        </ol>
	</div>
    {% include beginning/abstraction/tree/genealogy.html %}
    {% include beginning/abstraction/tree/binary.html %}
    {% include beginning/abstraction/tree/avl.html %}
    {% include beginning/abstraction/tree/bst.html %}
</div>
