<div class="container">
	<div class="hero-unit">
		<h1>数组</h1>
		<p><strong>数组</strong>是一组相同类型数据的固定集合，它们的存储空间相邻，和所有计算机的存储系统有直接的对应关系，可通过索引访问。大多数机器语言处理器都把涉及数组的程序翻译成高效的直接访问内存的机器语言程序。</p>
		<p><strong>类型</strong>指定如何利用特定位的各种集合，<strong>函数</strong>指定在数据上所进行的操作。<strong>数据类型</strong>是值的集合和在这些值上的操作集。<br />
		<strong>int</strong>类型属于某个特定的范围，<strong>浮点数</strong>是实际数的近似，它们的位数用来表示对实际数的近似精度。</p>
	</div>
	<div class="row">
		<div class="span12">
			<h3>埃拉托色尼筛法</h3>
			<p>如果所有更小素数的倍数都已设为0，a[i]仍然为1，则其为素数。</p>
{% highlight c linenos %}
#include <stdio.h>
#define N 32
main(){
    int i, j, a[N];
    for(i=2; i<N; i++){
        a[i] = 1;
    }
    for(i=2; i<N; i++){
        if(a[i] && i*i<N){
            for(j=i; i*j<N; j++){
                a[i*j] = 0;
            }
        }
    }
    for(i=2; i<N; i++){
        if(a[i]){
            printf("%4d", i);
        }
    }
    printf("\n");
}
{% endhighlight %}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="canvas">
				<table class="table table-bordered table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>次序</th>
                            {% for i in (2..31) %}
                                <th>{{ i }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody id="tbdyNodes">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script id="tmplNodes" type="text/template">
<tr>
<% _.each(nodes, function(node){ %>
	<td><%= node.value %></td>
<% }); %>
</tr>
</script>
<script>
// 埃拉托色尼筛法
$(function(){
	var meditation = qling.meditation,
		table = new meditation.Table('#tbdyNodes', $('#tmplNodes').html()),
		N = 32,
		i,
		a = [],
		//a = new Array(33).join('1,').split(',').pop(),
		nodes = [];

	for(i=2; i<N; i++){
		a[i] = 1;
	}
	
	var reset = function(){
		for(i=0; i<N-1; i++){
			nodes[i] = {
				value: ' '
			};
		}
	};

	var main = function(){
		var i, j;
		for(i=2; i<N; i++){
			reset();
			nodes[0].value = i;
			if(a[i] && i*i<N){
				for(j=i; i*j<N; j++){
					a[i*j] = 0;
					nodes[i*j-1].value = '0';
				}
				table.render(nodes);
			}
		}

		reset();
		nodes[0].value = '结果';
		for(i=2; i<N; i++){
			if(a[i]){
				nodes[i-1].value = '1';
			}
		}
		table.render(nodes);
	};
	main();
});
</script>
