<div class="row">
	<div class="span12">
		<h3>加权快速合并算法</h3>
		<p>对于N个对象，加权快速合并算法判定其中的两个对象是否是连通的，至多需要遍历2lgN个指针。</p>
{% highlight c linenos %}
#include <stdio.h>
#define N 10
main(){
    int i, j, p, q, id[N], sz[N];
    for(i=0; i<N; i++){
        id[i] = i;
        sz[i] = 1;
    }
    while(scanf("%d-%d", &p, &q) == 2){
        for(i=id[p]; i!=id[i]; i=id[i]);
        for(j=id[q]; j!=id[j]; j=id[j]);
        if (i == j) {
            continue;
        }
        if(sz[i] > sz[j]){
            id[j] = i;
            sz[i] += sz[j];
        }
        else{
            id[i] = j;
            sz[j] += sz[i];
        }
        printf("%d-%d\n", p, q);
    }
}
{% endhighlight %}
	</div>
</div>
<div class="row">
	<form id="frmConsole3" action="#" class="span12">
		<input type="text" class="console" placeholder="直接输入'p-q'回车执行即可…" data-title="输入错误" data-trigger="manual" />
	</form>
</div>
<div class="row">
	<div class="span6">
		<div class="canvas">
			<table class="table table-bordered table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>输入</th>
						<th>0</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>输出</th>
					</tr>
				</thead>
				<tfoot>
				</tfoot>
				<tbody id="tbdyNodes3">
				</tbody>
			</table>
		</div>
	</div>
	<div class="span6">
		<canvas id="cnvsNodes3"></canvas>
	</div>
</div>
<script>
// 加权快速合并算法
$(function(){
	var N = 10,
		i,
		id = [],
		sz = [],
		nodes = [];
	var FORMAT = /^(\d*)\s*-\s*(\d*)$/;
	for(i=0; i<N; i++){
		id[i] = i;
		sz[i] = 1;
	}
	for(i=0; i<N+2; i++){
		nodes.push({
			value: i-1,
			parent: false,
			child: false
		});
	}
	var main = function(p, q){
		var i, j;
		for(i=0; i<N; i++){
			nodes[i+1].parent = false;
			nodes[i+1].child = false;
		}
		nodes[0].value = '' + p + '-' + q;
		for(i=id[p]; i!=id[i]; i=id[i]);
		for(j=id[q]; j!=id[j]; j=id[j]);

		if(i===j){
			nodes[nodes.length-1].value = '';
			return;
		}

		if(sz[i] > sz[j]){
			id[j] = i;
			sz[i] += sz[j];
			nodes[j+1].value = i;
			nodes[j+1].child = true;
			nodes[i+1].parent = true;
		}
		else{
			id[i] = j;
			sz[j] += sz[i];
			nodes[i+1].value = j;
			nodes[i+1].child = true;
			nodes[j+1].parent = true;
		}
		nodes[nodes.length-1].value = nodes[0].value;
	};

	var meditation = qling.meditation;
	var table = new meditation.Table('#tbdyNodes3', $('#tmplNodes').html());

	$('#frmConsole3').submit(function(){
		var input = this.elements[0];

		if(FORMAT.test(input.value.trim())){
			main(+RegExp.$1, +RegExp.$2);
			table.render(nodes);
			input.value = '';
			input.focus();
		}
		else{
			input.select();
			$(input).tooltip('show').one('input', function(){
				$(this).tooltip('hide');
			});
		}

		return false;
	});
});
</script>
