<div class="container">
    <div class="hero-unit">
        <h1>启源</h1>
        <p>
            12年11月，习惯性买书时得到《C程序设计的抽象思维》，打开一看便被深深吸引；<br />
            13年4月，又幸运的得到《C语言的科学和艺术》。
        </p>
        <p>
            那段时间晚上下班回到家后仔细看书到晚上11、12点不倦不困，欣喜若狂。也在那时，做了这个笔记站点，当时站点的名字叫做“清凌渡”。<br />
            我个人已经沉淀一些自己的积累，便把这几年有价值的东西积累到一起。这两本书是对我职业技能影响最大的两本书，常想：如果当时我的同学们能早点看到这两本书，那同学们做软件开发的应该更多。这两年有机会就会把这两本书推荐给同事、同学、朋友，只因为这两本书真是经典中的经典，每个软件工程师都应该仔细的阅读和学习——这也是这个频道名字的来源——开启软件开发的科学、艺术、抽象之源头。
        </p>
        <p>
            这两本书会常读常新，17年会专门安排时间再次深入学习。
        </p>
        <p>2016年11月6日</p>
    </div>
</div>
